swagger: "2.0"
info:
  version: 1.3.1
  title: Oculo API
host: api.oculo.com.au
basePath: /api/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /auth:
    post:
      summary: Authenticate against the Oculo API using your access credentials
      parameters:
        - name: Credentials
          in: body
          description: Your Oculo API credentials
          required: true
          schema:
            $ref: "#/definitions/Credentials"
      responses:
        200:
          description: New session created
          schema:
            type: object
            required: [auth_token, expires_in, client_id]
            title: Authorisation
            properties:
              auth_token:
                description: Auth token to be used in subsequent requests
                type: string
              expires_in:
                description: Time when this session expires
                type: string
              client_id:
                description: Client ID
                type: string
        401:
          description: The given credentials were not authenticated
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: An internal server error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
  /referral_requests:
    post:
      summary: Submit a referral
      parameters:
        - name: referral_request
          in: body
          description: The referral request
          required: true
          schema:
            $ref: "#/definitions/ReferralRequestPayload"
      responses:
        201:
          description: Success
          schema:
            $ref: "#/definitions/ReferralRequestCreated"
        400:
          description: The given request was not valid
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: The given auth_token was not authenticated
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: The given auth_token was authenticated but not authorized
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: An internal server error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      security:
        - bearer: []

  /referral_requests/{id}.json:
    get:
      summary: Retrieve a referral request
      parameters:
        - name: id
          in: path
          description: The referral request id
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/ReferralRequest"
        401:
          description: The given auth_token was not authenticated
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: The given auth_token was authenticated but not authorized
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: An internal server error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      security:
        - bearer: []

securityDefinitions:
  bearer:
    type: apiKey
    description: A bearer token in the format "Bearer auth_token"
    name: authorization
    in: header
definitions:
  Credentials:
    required: [client_id, access_key, secret_key]
    properties:
      client_id:
        description: Your API client ID (eg specsavers)
        type: string
      access_key:
        description: Your Oculo integration access key
        type: string
      secret_key:
        description: Your Oculo integration secret key
        type: string
  ReferralRequestCreated:
    required: [id, _links]
    properties:
      id:
        description: Referral request identifier
        type: string
      _links:
        type: object
        title: Links
        description: Links for the referral request
        required: [self, edit_referral_request]
        properties:
          self:
            description: Link to this referral request
            $ref: "#/definitions/Link"
          edit_referral_request:
            description: Link to HTML edit page for this referral request
            $ref: "#/definitions/Link"
  ReferralRequest:
    allOf:
      - $ref: "#/definitions/ReferralRequestCreated"
    required: [payload]
    properties:
      payload:
        description: Original referral request payload
        $ref: "#/definitions/ReferralRequestPayload"
  ReferralRequestPayload:
    required:
      - sender_system
      - patient_request
      - practice_role
    properties:
      encounter_id:
          type: string
          description: "Unique appointment identifier"
      reasons:
        type: array
        description: "Reasons for referral"
        items:
          type: string
        enum:
          - CATARACT
          - GLAUCOMA
          - DIABETES
          - MEDICAL_RETINA
          - OTHER
      urgency:
        type: string
        description: "Urgency of referral. Determines the usage of some clinical_data keys"
        enum:
          - ROUTINE
          - URGENT
          - VERY_URGENT
      message:
        type: string
        description: The referral message
      sender_system:
        type: string
        description: Identifier of sending system - Socrates
      sender_system_references:
        description: Sending system's reference to this referral - this can be a json object or a string
        $ref: "#/definitions/SenderSystemReferences"
      patient_request:
        description: Patient details
        $ref: "#/definitions/PatientRequest"
      practice_role:
        description: Practice role for which this referral is being created. If omitted the practice role attached to the current integration will be used
        $ref: "#/definitions/PracticeRole"
      clinical_data:
        description: Detailed clinical data for the referral
        $ref: "#/definitions/ClinicalData"
    example:
      encounter_id: "ID123"
      reasons:
        - CATARACT
        - GLAUCOMA
      urgency: ROUTINE
      message: "A new referral for a patient"
      sender_system: SOCRATES
      sender_system_references:
        onward_referral_request: "Refer to Eye Department - Urgent"
        reasons:
          - "Anterior Eye/Corneal"
          - "Glaucoma Related"
        current_sight_test_date: "2019-08-16"
        previous_va_test_date: "2018-08-16"
        gp_action_info: ONWARD_REFERRAL
        pneumo: true
        applanation_tonometer: false
        observations:
          right_eye_vision: ""
          right_eye_near_va: ""
          right_eye_sph: "-3"
          right_eye_cyl: "-0.25"
          right_eye_axis: "120"
          right_eye_prism_h: ""
          right_eye_prism_v: ""
          right_eye_add: "+1.0"
          left_eye_vision: ""
          leftt_eye_near_va: ""
          left_eye_sph: "-3"
          left_eye_cyl: "-0.25"
          left_eye_axis: "120"
          left_eye_prism_h: ""
          left_eye_prism_v: ""
          left_eye_add: "+1.0"
          right_eye_disc_appearance: ""
          left_eye_disc_appearance: ""
          right_eye_visual_field: ABNORMAL
          left_eye_visual_field: NOT_DONE
      patient_request:
        title: Mr
        first_name: John
        surname: Smith
        date_of_birth: "2001-01-16"
        sex: male
        street_address: 1 Smith St
        suburb: Westminster
        postcode: SW1A 2AA
        country_code: GB
        email_address: jsmith@mail.com
        contact_number: "+44 20 7925 0918"
        hypertension: true
        asthma: true
        diabetes: true
        diabetes_year_diagnosed: 2016
        diabetes_type: II
        diabetes_hba1c: 49.7
        diabetes_control: Good
        other_pmh: "hypercholesterolemia"
        allergies: "No allergies"
        current_medication: "BP, chol, insulin, aspirin"
        eye_drop_intolerance: "None"
        family_social_history: "No relevant issues"
        government_health_number: "450 557 7104"
        providers:
          -
            role: GP
            title: "Dr"
            first_name: "Jane"
            surname: "Kirk"
            practice:
              name: "Kirk GPs"
              address_line_1: "Floor 1"
              address_line_2: "1 Smith St"
              suburb: "Westminster"
              state: ""
              postcode: "SW1A 2AA"
              country_code: GB
              phone: "+44 20 7925 0918"
              fax: "+44 20 7925 0918"
              email: "jkirk@mail.com"
              website: ""
      practice_role:
        industry_reference: "ID-XYZ"
        organisation_reference: "ABC-789"
      clinical_data:
        surgical_history: "LE IOL 2-3 yrs ago in Spain"
        va_blind_control_right: true
        va_blind_control_left: false
        va_blindness_right: "HM"
        va_blindness_left: ""
        va_correction_right: "Aided"
        va_correction_left: "Unaided"
        normal_va_right: ""
        normal_va_left: "9"
        patient_va_right: ""
        patient_va_left: "6"
        patient_va_right_modifier: ""
        patient_va_left_modifier: "+"
        refraction_right: "-3 -0.25 120 +1"
        refraction_left: "-3 -0.25 120 +1"
        central_corneal_thickness_right: 550
        central_corneal_thickness_left: 550
        recent_vision_change_right: false
        recent_vision_change_left: true
        other_risk_factors: "possible glaucoma"
        current_iop_right: 16
        current_iop_left: 14
        max_iop_right: 17
        max_iop_left: 17
        family_history_of_glaucoma: true
        gonio_findings_right: "moderate 0.5"
        gonio_findings_left: "moderate 0.5"
        diabetic_retinopathy_right: "PDR"
        diabetic_retinopathy_left: "Mild-Moderate NPDR"
        desired_refraction_right: "plano 0"
        desired_refraction_left: "0"
        cataract_description_right: "Clear Lens / early haze"
        cataract_description_left: "Clear Lens / early haze"
        change_on_amsler_right: false
        change_on_amsler_left: true
        retinal_findings_right: "RETINA:All Quadrants Checked Flat/Even Pigmentation, MAC:Normal Reflex, ON:SL BIO LARGE DISC / CUP ; TAPERD EDGE, OCT ONL OU, VESSELS:Normal, VIT:Clear"
        retinal_findings_left: "RETINA:All Quadrants Checked Flat/Even Pigmentation, MAC:Normal Reflex, ON:SL BIO LARGE DISC / CUP ; TAPERD EDGE, OCT ONL OU, VESSELS:Normal, VIT:Clear"
        amd_right: "Early"
        amd_left: "New Onset Wet"

  SenderSystemReferences:
    type: object
    properties:
      onward_referral_request:
        type: string
        description: "Sending system's urgency. Maps to Urgency"
        enum:
          - "Refer to Eye Department - Urgent"
          - "Refer to Eye Department - Routine"
          - "Refer to Orthoptic Department"
          - "Refer to LVA Clinic Service"
          - "GP to Manage"
          - "Refer to Eye Department - Same Day"
          - "Direct referral Optometry to Ophthalmology"
          - "Notification of Examination Outcome"
          - "Optometrist to Monitor/Manage"
          - "Patient told to contact GP"
          - "Patient sent to Eye Casualty"
      reasons:
        type: array
        description: "Sending system's list of reasons for referral. Maps to Reasons"
        items:
          type: string
        enum:
          - Wet AMD/Macula Service
          - Anterior Eye/Corneal
          - General Ophthalmology
          - Binocular Anomaly/Paediatric Ophth
          - Unexplained Finding (see notes)
          - Glaucoma Related
          - Neuro Ophthalmology/Unexplained Headaches
          - Diabetic Ophthalmology
          - Vitreo-Retinal
          - Cataract/Post-cataract
          - Oculoplastics
          - Follow Up Information
      current_sight_test_date:
        type: string
        description: "ISO-8601 date format"
      previous_va_test_date:
        type: string
        description: "ISO-8601 date format"
      gp_action_info:
        type: string
        description: ""
        enum:
          - ONWARD_REFERRAL
          - GP_INFORMATION
      pneumo:
        type: bool
        description: ""
        enum:
          - true
          - false
      applanation_tonometer:
        type: bool
        description: ""
        enum:
          - true
          - false
      observations:
        description: ""
        $ref: "#/definitions/SenderSystemReferencesObservations"
  SenderSystemReferencesObservations:
    type: object
    properties:
      right_eye_vision:
        type: string
        description: ""
      right_eye_near_va:
        type: string
        description: ""
      right_eye_sph:
        type: string
        description: ""
      right_eye_cyl:
        type: string
        description: ""
      right_eye_axis:
        type: string
        description: ""
      right_eye_prism_h:
        type: string
        description: ""
      right_eye_prism_v:
        type: string
        description: ""
      right_eye_add:
        type: string
        description: ""
      left_eye_vision:
        type: string
        description: ""
      left_eye_near_va:
        type: string
        description: ""
      left_eye_sph:
        type: string
        description: ""
      left_eye_cyl:
        type: string
        description: ""
      left_eye_axis:
        type: string
        description: ""
      left_eye_prism_h:
        type: string
        description: ""
      left_eye_prism_v:
        type: string
        description: ""
      left_eye_add:
        type: string
        description: ""
      right_eye_disc_appearance:
        type: string
        description: ""
      left_eye_disc_appearance:
        type: string
        description: ""
      right_eye_visual_field:
        type: string
        description: ""
        enum:
          - ABNORMAL
          - NORMAL
          - NOT_DONE
      left_eye_visual_field:
        type: string
        description: ""
        enum:
          - ABNORMAL
          - NORMAL
          - NOT_DONE
  Link:
    required: [href]
    type: object
    properties:
      href:
        type: string
        format: uri
  PatientRequest:
    required: [first_name, surname, date_of_birth]
    properties:
      title:
        type: string
        description: Title
      first_name:
        type: string
        description: First name
      surname:
        type: string
        description: Surname
      date_of_birth:
        type: string
        description: Date of birth in iso-8601 date format
      sex:
        type: string
        description: Sex
        enum:
          - male
          - female
          - unspecified
      street_address:
        type: string
        description: Street address
      suburb:
        type: string
        description: Suburb
      state:
        type: string
        description: State
      postcode:
        type: string
        description: Postcode
      country_code:
        type: string
        description: Country code, must be an alpha-2 code from within the set at https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      email_address:
        type: string
        description: Email address
      contact_number:
        type: string
        description: Contact number
      hypertension:
        type: boolean
        description: Patient has hypertension
        enum:
          - true
          - false
      asthma:
        type: boolean
        description: Patient has asthma
        enum:
          - true
          - false
      diabetes:
        type: boolean
        description: Patient has diabetes
        enum:
          - true
          - false
      diabetes_year_diagnosed:
        type: string
        description: The year the patient was diagnosed with diabetes
      diabetes_hba1c:
        type: integer
        description: HbA1c (%). Accepts values between 0 and 99.99
      diabetes_type:
        type: string
        description: Diabetes Type
        enum:
          - I
          - II
      diabetes_control:
        type: string
        description: Diabetes Control
        enum:
          - Good
          - Moderate
          - Poor
      other_pmh:
        type: string
        description: Other Medical History
      current_medication:
        type: string
        description: Current Medication
      eye_drop_intolerance:
        type: string
        description: Eye Drop Tollerance
      family_social_history:
        type: string
        description: Family/Social History
      allergies:
        type: string
        description: Allergies
      government_health_number:
        type: string
        description: The patient's health care number, region specific
      medicare_irn:
        type: string
        description: Medicare IRN - DEPRECATED
      medicare_card_number:
        type: string
        description: Medicare Number - DEPRECATED
      providers:
        type: array
        items:
          $ref: "#/definitions/Provider"
  PracticeRole:
    required:
      - industry_reference
      - organisation_reference
    properties:
      industry_reference:
        type: string
        description: Industry reference for the user that fulfills this role (may be AHPRA number)
      organisation_reference:
        type: string
        description: Organisation internal reference for the practice that this role belongs to
  ClinicalData:
    properties:
      surgical_history:
        type: string
        description: Surgical History
      desired_refraction_right:
        type: string
        description: Desired Refraction Right Eye
      desired_refraction_left:
        type: string
        description: Desired Refraction Left Eye
      max_iop_right:
        type: integer
        description: Maximum IOP Right Eye
      max_iop_left:
        type: integer
        description: Maximum IOP Left Eye
      other_risk_factors:
        type: string
        description: Other Risk Factors
      va_blind_control_right:
        type: boolean
        description: VA Blindess Right Eye (Less than 6/60)
        enum:
          - true
          - false
      va_blind_control_left:
        type: boolean
        description: VA Blindess Left Eye (Less than 6/60)
        enum:
          - true
          - false
      va_blindness_right:
        type: string
        description: VA Blindess Right Eye  Value (Less than 6/60)
        enum:
          - CF
          - HM
          - LP
          - NLP
          - No Eye
          - Not Assessed
      va_blindness_left:
        type: string
        description: VA Blindess Left Eye Value (Less than 6/60)
        enum:
          - CF
          - HM
          - LP
          - NLP
          - No Eye
          - Not Assessed
      va_correction_right:
        type: string
        description: VA Correction Right Eye Value
        enum:
          - Aided
          - Unaided
          - Best Corrected
      va_correction_left:
        type: string
        description: VA Correction Left Eye Value
        enum:
          - Aided
          - Unaided
          - Best Corrected
      normal_va_right:
        type: integer
        description: Normal Visual Acuity Right Eye (Over 6/60). Accepts values between 0 and 999.9
      normal_va_left:
        type: integer
        description: Normal Visual Acuity Left Eye (Over 6/60). Accepts values between 0 and 999.9
      patient_va_right:
        type: integer
        description: Patient Visual Acuity Right Eye (Over 6/60). Accepts values between 0 and 99.9
      patient_va_left:
        type: integer
        description: Patient Visual Acuity Left Eye (Over 6/60). Accepts values between 0 and 99.9
      patient_va_right_modifier:
        type: string
        description: Patient Visual Acuity Right Eye with modifier (Over 6/60)
      patient_va_left_modifier:
        type: string
        description: Patient Visual Acuity Left Eye with modifier (Over 6/60)
      current_iop_right:
        type: integer
        description: Current IOP Right Eye
      current_iop_left:
        type: integer
        description: Current IOP Left Eye
      diabetic_retinopathy_right:
        type: string
        description: Diabetic Retinopathy Right Eye
        enum:
          - Minimal
          - Mild-Moderate NPDR
          - Severe NPDR
          - PDR
      diabetic_retinopathy_left:
        type: string
        description: Diabetic Retinopathy Left Eye
        enum:
          - Minimal
          - Mild-Moderate NPDR
          - Severe NPDR
          - PDR
      cataract_description_right:
        type: string
        description: Cataract Description Right Eye
      cataract_description_left:
        type: string
        description: Cataract Description Left Eye
      family_history_of_glaucoma:
        type: boolean
        description: Family History of Glaucoma
        enum:
          - true
          - false
      gonio_findings_right:
        type: string
        description: Gonio Findings Right Eye
      gonio_findings_left:
        type: string
        description: Gonio Findings Left Eye
      refraction_right:
        type: string
        description: Refraction Right Eye
      refraction_left:
        type: string
        description: Refraction Left Eye
      central_corneal_thickness_right:
        type: integer
        description: Central Corneal Thickness Right Eye
      central_corneal_thickness_left:
        type: integer
        description: Central Corneal Thickness Right Eye
      recent_vision_change_right:
        type: boolean
        description: Recent Vision Change Right Eye
        enum:
          - true
          - false
      recent_vision_change_left:
        type: boolean
        description: Recent Vision Change Left Eye
        enum:
          - true
          - false
      change_on_amsler_right:
        type: boolean
        description: Change on Amsler Right Eye
        enum:
          - true
          - false
      change_on_amsler_left:
        type: boolean
        description: Change on Amsler Left Eye
        enum:
          - true
          - false
      retinal_findings_right:
        type: string
        description: Retinal Findings Right Eye
      retinal_findings_left:
        type: string
        description: Retinal Findings Left Eye
      amd_right:
        type: string
        description: AMD Right Eye
        enum:
          - Early
          - Intermediate
          - Late with Atrophy
          - New Onset Wet
      amd_left:
        type: string
        description: AMD Left Eye
        enum:
          - Early
          - Intermediate
          - Late with Atrophy
          - New Onset Wet
  Provider:
    required:
      - first_name
      - surname
    properties:
      role:
        type: string
        description: The role of this Provider in the patient's care (eg GP, Endocrinologist, etc)
      title:
        type: string
        description: Title of this Provider
      first_name:
        type: string
        description: First name of this Provider
      surname:
        type: string
        description: Surname of this Provider
      practice:
        $ref: "#/definitions/Practice"
  Practice:
    required:
      - name
    properties:
      name:
        type: string
        description: Name of the Practice
      address_line_1:
        type: string
        description: Address line one for the Practice
      address_line_2:
        type: string
        description: Address line two for the Practice
      suburb:
        type: string
        description: Suburb for the Practice
      state:
        type: string
        description: State for the Practice
      postcode:
        type: string
        description: Postcode for the Practice
      country_code:
        type: string
        description: Country code, must be an alpha-2 code from within the set at https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      phone:
        type: string
        description: Phone for the Practice
      fax:
        type: string
        description: Fax number for the Practice
      email:
        type: string
        description: Email for the Practice
      website:
        type: string
        description: Website for the Practice
  Error:
    type: object
    required: [ detail ]
    properties:
      code:
        type: string
        description: Static error code. This value will not change for a particular type of error
      detail:
        type: string
        description: Informative error detail message. This value may change over time
  ErrorResponse:
    type: object
    required: [errors]
    properties:
      errors:
        description: Errors conforming to JSON API errors format http://jsonapi.org/format/#error-objects
        type: array
        items:
          $ref: "#/definitions/Error"
