swagger: "2.0"
info:
  version: 1.2.1
  title: Oculo API
host: api.oculo.com.au
basePath: /api/v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /auth:
    post:
      summary: Authenticate against the Oculo API using your access credentials
      parameters:
        - name: Credentials
          in: body
          description: Your Oculo API credentials
          required: true
          schema:
            $ref: "#/definitions/Credentials"
      responses:
        200:
          description: New session created
          schema:
            type: object
            required: [auth_token, expires_in, client_id]
            title: Authorisation
            properties:
              auth_token:
                description: Auth token to be used in subsequent requests
                type: string
              expires_in:
                description: Time when this session expires
                type: string
              client_id:
                description: Client ID
                type: string
        401:
          description: The given credentials were not authenticated
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: An internal server error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
  /referral_requests:
    post:
      summary: Submit a referral
      parameters:
        - name: referral_request
          in: body
          description: The referral request
          required: true
          schema:
            $ref: "#/definitions/ReferralRequestPayload"
      responses:
        201:
          description: Success
          schema:
            $ref: "#/definitions/ReferralRequestCreated"
        400:
          description: The given request was not valid
          schema:
            $ref: "#/definitions/ErrorResponse"
        401:
          description: The given auth_token was not authenticated
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: The given auth_token was authenticated but not authorized
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: An internal server error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      security:
        - bearer: []

  /referral_requests/{id}.json:
    get:
      summary: Retrieve a referral request
      parameters:
        - name: id
          in: path
          description: The referral request id
          required: true
          type: string
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/ReferralRequest"
        401:
          description: The given auth_token was not authenticated
          schema:
            $ref: "#/definitions/ErrorResponse"
        403:
          description: The given auth_token was authenticated but not authorized
          schema:
            $ref: "#/definitions/ErrorResponse"
        500:
          description: An internal server error occurred
          schema:
            $ref: "#/definitions/ErrorResponse"
      security:
        - bearer: []

securityDefinitions:
  bearer:
    type: apiKey
    description: A bearer token in the format "Bearer auth_token"
    name: authorization
    in: header
definitions:
  Credentials:
    required: [client_id, access_key, secret_key]
    properties:
      client_id:
        description: Your API client ID (eg specsavers)
        type: string
      access_key:
        description: Your Oculo integration access key
        type: string
      secret_key:
        description: Your Oculo integration secret key
        type: string
  ReferralRequestCreated:
    required: [id, _links]
    properties:
      id:
        description: Referral request identifier
        type: string
      _links:
        type: object
        title: Links
        description: Links for the referral request
        required: [self, edit_referral_request]
        properties:
          self:
            description: Link to this referral request
            $ref: "#/definitions/Link"
          edit_referral_request:
            description: Link to HTML edit page for this referral request
            $ref: "#/definitions/Link"
  ReferralRequest:
    allOf:
      - $ref: "#/definitions/ReferralRequestCreated"
    required: [payload]
    properties:
      payload:
        description: Original referral request payload
        $ref: "#/definitions/ReferralRequestPayload"
  ReferralRequestPayload:
    required: [sender_system, patient_request]
    properties:
      sender_system:
        type: string
        description: Identifier of sending system - Socrates
      sender_system_references:
        type: object
        description: Sending system's reference to this referral - this can be a json object or a string
      patient_request:
        description: Patient details
        $ref: "#/definitions/PatientRequest"
      practice_role:
        description: Practice role for which this referral is being created. If omitted the practice role attached to the current integration will be used
        $ref: "#/definitions/PracticeRole"
      clinical_data:
        description: Detailed clinical data for the referral
        $ref: "#/definitions/ClinicalData"
      message:
        type: string
        description: The referral message
  Link:
    required: [href]
    type: object
    properties:
      href:
        type: string
        format: uri
  PatientRequest:
    required: [first_name, surname, date_of_birth]
    properties:
      title:
        type: string
        description: Title
      first_name:
        type: string
        description: First name
      surname:
        type: string
        description: Surname
      date_of_birth:
        type: string
        description: Date of birth (dd/mm/yyyy)
      sex:
        type: string
        description: Sex
        enum:
          - male
          - female
          - unspecified
      street_address:
        type: string
        description: Street address
      suburb:
        type: string
        description: Suburb
      state:
        type: string
        description: State
      postcode:
        type: string
        description: Postcode
      country_code:
        type: string
        description: Country code, must be an alpha-2 code from within the set at https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      email_address:
        type: string
        description: Email address
      contact_number:
        type: string
        description: Contact number
      hypertension:
        type: boolean
        description: Patient has hypertension
      asthma:
        type: boolean
        description: Patient has asthma
      diabetes:
        type: boolean
        description: Patient has diabetes
      diabetes_year_diagnosed:
        type: string
        description: The year the patient was diagnosed with diabetes
      diabetes_hba1c:
        type: integer
        description: HbA1c (%)
      diabetes_type:
        type: string
        description: Diabetes Type
        enum:
          - I
          - II
      diabetes_control:
        type: string
        description: Diabetes Control
        enum:
          - Good
          - Moderate
          - Poor
      other_pmh:
        type: string
        description: Other Medical History
      current_medication:
        type: array
        description: Current Medication
        items:
          type: string
      eye_drop_intolerance:
        type: string
        description: Eye Drop Tollerance
      family_social_history:
        type: string
        description: Family/Social History
      allergies:
        type: array
        description: Allergies
        items:
          type: string
      medicare_irn:
        type: string
        description: Medicare IRN
      medicare_card_number:
        type: string
        description: Medicare Number
      providers:
        type: array
        items:
          $ref: "#/definitions/Provider"
  PracticeRole:
    required: [
      industry_reference,
      organisation_reference
    ]
    properties:
      industry_reference:
        type: string
        description: Industry reference for the user that fulfills this role (may be AHPRA number)
      organisation_reference:
        type: string
        description: Organisation internal reference for the practice that this role belongs to
  ClinicalData:
    properties:
      surgical_history:
        type: string
        description: Surgical History
      desired_refraction_right:
        type: string
        description: Desired Refraction Right Eye
      desired_refraction_left:
        type: string
        description: Desired Refraction Left Eye
      max_iop_right:
        type: integer
        description: Maximum IOP Right Eye
      max_iop_left:
        type: integer
        description: Maximum IOP Left Eye
      other_risk_factors:
        type: string
        description: Other Risk Factors
      va_blind_control_right:
        type: boolean
        description: VA Blindess Right Eye (Less than 6/60)
      va_blind_control_left:
        type: boolean
        description: VA Blindess Left Eye (Less than 6/60)
      va_blindness_right:
        type: string
        description: VA Blindess Right Eye  Value (Less than 6/60)
        enum:
          - CF
          - HM
          - PL
          - NPL
          - No Eye
      va_blindness_left:
        type: string
        description: VA Blindess Left Eye Value (Less than 6/60)
        enum:
          - CF
          - HM
          - PL
          - NPL
          - No Eye
      normal_va_right:
        type: integer
        description: Normal Visual Acuity Right Eye (Over 6/60)
      normal_va_left:
        type: integer
        description: Normal Visual Acuity Left Eye (Over 6/60)
      patient_va_right:
        type: integer
        description: Patient Visual Acuity Right Eye (Over 6/60)
      patient_va_left:
        type: integer
        description: Patient Visual Acuity Left Eye (Over 6/60)
      patient_va_right_modifier:
        type: string
        description: Patient Visual Acuity Right Eye with modifier (Over 6/60)
      patient_va_left_modifier:
        type: string
        description: Patient Visual Acuity Left Eye with modifier (Over 6/60)
      current_iop_right:
        type: integer
        description: Current IOP Right Eye
      current_iop_left:
        type: integer
        description: Current IOP Left Eye
      diabetic_retinopathy_right:
        type: string
        description: Diabetic Retinopathy Right Eye
        enum:
          - Minimal
          - Mild-Moderate NPDR
          - Severe NPDR
          - PDR
      diabetic_retinopathy_left:
        type: string
        description: Diabetic Retinopathy Left Eye
        enum:
          - Minimal
          - Mild-Moderate NPDR
          - Severe NPDR
          - PDR
      macular_oedema_right:
        type: boolean
        description: Macular Oedema Right Eye
      macular_oedema_left:
        type: boolean
        description: Macular Oedema Left Eye
      cataract_description_right:
        type: string
        description: Cataract Description Right Eye
      cataract_description_left:
        type: string
        description: Cataract Description Left Eye
      family_history_of_glaucoma:
        type: boolean
        description: Family History of Glaucoma
      gonio_findings_right:
        type: string
        description: Gonio Findings Right Eye
      gonio_findings_left:
        type: string
        description: Gonio Findings Left Eye
      refraction_right:
        type: string
        description: Refraction Right Eye
      refraction_left:
        type: string
        description: Refraction Left Eye
      central_corneal_thickness_right:
        type: integer
        description: Central Corneal Thickness Right Eye
      central_corneal_thickness_left:
        type: integer
        description: Central Corneal Thickness Right Eye
      recent_vision_change_right:
        type: boolean
        description: Recent Vision Change Right Eye
      recent_vision_change_left:
        type: boolean
        description: Recent Vision Change Left Eye
      change_on_amsler_right:
        type: boolean
        description: Change on Amsler Right Eye
      change_on_amsler_left:
        type: boolean
        description: Change on Amsler Left Eye
      retinal_findings_right:
        type: string
        description: Retinal Findings Right Eye
      retinal_findings_left:
        type: string
        description: Retinal Findings Left Eye
      amd_right:
        type: string
        description: AMD Right Eye
        enum:
          - Early
          - Intermediate
          - Late with Atrophy
          - New Onset Wet
      amd_left:
        type: string
        description: AMD Left Eye
        enum:
          - Early
          - Intermediate
          - Late with Atrophy
          - New Onset Wet
  Provider:
    properties:
      role:
        type: string
        description: The role of this Provider in the patient's care (eg GP, Endocrinologist, etc)
      title:
        type: string
        description: Title of this Provider
      first_name:
        type: string
        description: First name of this Provider
      surname:
        type: string
        description: Surname of this Provider
      practice:
        $ref: "#/definitions/Practice"
  Practice:
    properties:
      name:
        type: string
        description: Name of the Practice
      address_line_1:
        type: string
        description: Address line one for the Practice
      address_line_2:
        type: string
        description: Address line two for the Practice
      suburb:
        type: string
        description: Suburb for the Practice
      state:
        type: string
        description: State for the Practice
      postcode:
        type: string
        description: Postcode for the Practice
      phone:
        type: string
        description: Phone for the Practice
      fax:
        type: string
        description: Fax number for the Practice
      email:
        type: string
        description: Email for the Practice
      website:
        type: string
        description: Website for the Practice
  Error:
    type: object
    required: [ detail ]
    properties:
      code:
        type: string
        description: Static error code. This value will not change for a particular type of error
      detail:
        type: string
        description: Informative error detail message. This value may change over time
  ErrorResponse:
    type: object
    required: [errors]
    properties:
      errors:
        description: Errors conforming to JSON API errors format http://jsonapi.org/format/#error-objects
        type: array
        items:
          $ref: "#/definitions/Error"

